    /* CSS HEX 
--dark-purple: #242038ff;
--light-pink: #f7b2b7ff;
--beau-blue: #c7dbe6ff;
--nickel: #626c66ff;
--metallic-seaweed: #1f7a8cff;*/
    
    html {
        font-family: 'Source Serif Pro', serif, sans-serif;
    }    
    body {
        margin: 0;
        padding: 0;
        width:100vw;
        overflow-x: hidden;
    }    
    .nav{
        height:50px;
        background-color: #242038ff;
    }
    .tabnav{
        width:100vw;
        height:75px;
        background-color: white;
        display: flex;
        justify-content: center;
    }
    .sticky {
        position: fixed;
        top: 0;
      }
    .sticky + .tabcontent {
        padding-top: 60px;
      }      
    #logo{
        height : 50px;
        width:auto;
        padding: 12px 0 ;
    }
    #logoname{
        font-weight: bold;
        min-width:7%;
    }
    .tabnav .tablink {
        color:rgb(58, 55, 70);
        background-color:white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 17px;
        min-width: 4%;
        padding:0 20px;
    }    
    .topnav {
        display: none;
    }    
    .tabnav .tablink:hover {
        background-color:white;
        color:rgb(58, 55, 70);
        cursor: pointer;
        font-weight: bolder;
    }    
    .tabcontent {
        color: white;
        display: none;
        padding: 40px 20px;
        height: 100%;
    }    
    .topnav a{
        cursor: pointer;
    }
    #Home {
        height: 100%;
        padding:0;
        margin-top: 0;
        font-family: 'Source Serif Pro', serif, sans-serif;
    }  

    .banner{
        height:100vh;
        background-image: url("assets/home_banner/img6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-position: center;
    }
    .bannercontent{
        width:80vw;
        margin-left: 15%;
        margin-right: 15%;
        padding-top:10%;
    }

    #home1{
        font-size: 2em;
        height:45px;
        animation: show 2s;
    } 
       
    #home2{
        font-size: 4.5em;
        font-weight: 500;
        margin-top:10px;
        height:180px;
        animation: show 2s;
    }
    #home3{
        font-size: 1.5em;
        height:30px;
        display: block;
        margin-top:50px;
        
    }

    #home3 .line{
        font-size: 1.25em;
        height:50px;
    }
    
    .animated-text{
        color: #fff;
        transform: translate(0%,-50%);
        height: 30px;
        overflow: hidden;
    }
    
    .line:first-child{
        animation: anim 12s infinite;
    }
    @keyframes show{
        0%{
            transform:scaleY(0);
            transform-origin: left top;
       }
        100%{
            transform:scaleY(1);
        } 
    }

    @keyframes anim {
        0%{
          margin-top: 0;
        }
        16%{
          margin-top: -55px;
        }
        33%{
          margin-top: -105px;
        }
        50%{
          margin-top: -155px;
        }
        66%{
          margin-top: -105px;
        }
        82%{
          margin-top: -55px;
        }
        100%{
          margin-top: 0;
        }
      }
    .about{
        height:92vh;
        color:black;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;
    }   
    .about .aboutcompany{
        margin-right: 10%;
    }
    .about .aboutimage img{
        width:500px;
        height:auto;
        border-radius: 500%;
    }
    .serv_proj{
        height:185vh;
        position:relative;
    }
    .services{
        height:148vh;
        position:relative;
        background:linear-gradient( white 0.5%,rgb(32, 31, 31) 0.5%);
        background-position-y: 7vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .services .worksofar{
        margin:0 15%;
        height: 15vh;
        width: 100%;
    }
    .services .worksofar #item1{
        background-image: url("assets/home_banner/img2.jfif");
    }
    .services .worksofar #item2{
        background-image: url("assets/home_banner/img3.jfif");
    }
    .services .worksofar #item3{
        background-image: url("assets/home_banner/img4.jpeg");
    }
    .services .worksofar #item4{
        background-image: url("assets/home_banner/img5.jpg");
    }
    .services .worksofar .item{
        width:13.75%;
        margin-right:5%;
        float: left;
        z-index: 2;
        height:15vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .services .worksofar .item p{
        font-weight: bold;
    }
    .services .worksofar .item:last-child{
       margin-right: 0;
    }
   .serv{
       height:100vh;
       width:100%;
       position:absolute;
       top:15%;
   }
   .serv h4{
       text-align: center;
   }
   .serv h2{
        font-size: 3em;
        text-align: center;
        margin-bottom: 7vh;
   }
   .serv .servitems{
        margin: 0 15%;
        display:grid;
        height:80%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
   }
   .serv .servitems .servitem{
        height:35vh;
        width:75%;
        justify-content: center;
        align-content: center;
        margin-right: 2%;
        float:left;
        background-color: white;
        color: black;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        transition: 1000ms;
        transform-origin: bottom;
   }
   .serv .servitems .servitem:hover{
        background-color: rgb(34, 33, 33) ;
        color:white;
        box-shadow: 2px 2px 5px black;
   }
   .serv .servitems .servitem h3{
        text-align: center;
        margin-top:75px;

    } 
    .serv .servitems .servitem p{
        padding:20px;
    }
    .projects{
        height:50vh;
        width:70%;
        margin:0% 15%;
        text-align: center;
        padding:0;
        position: absolute;
        top:73%;
        left:0%;
        border-radius: 25px;
        background-image: url("assets/home_banner/img5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        display:grid;
        grid-template-columns: 30% 65% 5%;
        justify-content: center;
        align-items: center;
    }
    .projects .head h2{
        margin:0;
        font-size: 2em;
    }
    .projects .projectContents{
        height:100%;
        width:100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects .projectContents .projectul{
        padding:0;
        color:white;
        position: absolute;
        width:50%;
        font-size: 1.5em;
    }
    .projects .projectContents .prev,.projects .projectContents .next{
        position:absolute;
        top:50%;
        background-color: white;
        color: black;
        box-shadow: 0;
        border-radius: 100%;
        outline: 0;
        border: 0;
    }
    .projects .projectContents .prev{
        left:9%;
    }
    .projects .projectContents .next{
        right:9%;
    }
    .check{
        margin-top:5%;
        height:50px;
        width:100%;
        text-align: center;
        color:white;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check p button{
        padding:5px;
        font-size:0.75em;
        border:0;
        box-shadow: 0;
        color: white;
        outline: 0;
        background: linear-gradient(105deg, gray 45%, black 45%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all .5s ease-out;
        box-shadow: 3px 3px 4px gray;
        margin-left:10px;
    }
    .check p button:hover {
        background-position: right bottom;
        cursor: pointer;
      }
    .check1{
        margin-top:5%;
        height:50px;
        width:100%;
        color:black;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check1 p a{
        text-decoration: none;
        color: black;
        transition: all .5s ease-out;
    }
    .check1 p a:hover{
        cursor: pointer;
        border-bottom: 2px black solid;
    }
    .check2{
        margin-top:5%;
        height:200px;
        width:100p;
        color:black;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(56, 52, 52);
    }
    .check2 p button{
        padding:5px;
        font-size:1em;
        border:0;
        box-shadow: 0;
        color: white;
        outline: 0;
        background: linear-gradient(105deg, gray 45%, black 45%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all .5s ease-out;
        box-shadow: 3px 3px 4px gray;
        margin-left: 20px;
    }
    .check2 p button:hover {
        background-position: right bottom;
        cursor: pointer;
      }
    .footer{
        height:58vh;
        width:100vw;
        background-color: rgb(165, 160, 160);
        padding:0 15%;
        display: grid;
        grid-template-columns: 25% 30% 10%;
    }
    .footer .footercontents{
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    .footer .footercontents p{
        margin:10px 0;
    }
    .footer .footercontents .abt{
        display:grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        align-content: center;
    }
    .footer .footercontents .abt p{
        font-size: 2em;
    }
    .footer .footercontents img{
        margin-right: 15px;
        width:27px;
        height: auto;
        margin-top:5px;
    }
    .footer .footercontents .abt img{
        width:70%;
        height:auto;
        align-self: center;
    }
    .footer .footercontents .footercontact{
        display: grid;
        grid-template-columns: 13% 87%;
        align-items: center;
    }  
    #Key_Projects {
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100vw;
    }    
    #Key_Projects .heading{
        height:30vh;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    #Key_Projects .keyprojectscontents {
        margin:10vh 20%;
        display: grid;
        grid-template-columns: 50% 50%;
    }    
    #Key_Projects .keyprojectscontents .card {
        margin-bottom: 10vh;
        background-color: white;
        width: 85%;
        text-align: center;
        font-family: arial;
        float: left;
        color: black;
        justify-self: center;
        height:500px;
    }    
    #Key_Projects .keyprojectscontents .card img {
        width: 100%;
        height: 248px;
    }    
    #Key_Projects .keyprojectscontents .card h3,#Key_Projects .keyprojectscontents .card p{
        text-align: left;
        padding:10px;
    }
    #Client{
        height: 100%;
        padding: 0;
        margin: 0;
        width: 100vw;
    }
    #Client .clientheading{
        height:40vh;
        background-color: black;
        font-size: 2em;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Client .clientheading .head1{
        text-align: center;
    }
    #Client .clientcontents{
        width:70%;
        height:40vh;
        margin:2% 15%;
        display:grid;
        grid-template-columns: 5% 90% 5%;
        justify-items: center;
        align-items: center;
    }
    #Client .clientcontents .clientul{
        padding:0;
        color:black;
        margin: 0;
    }
    #Client .clientcontents .prev1,#Client .clientcontents .next1{
        color: black;
        box-shadow: 0;
        border-radius: 100%;
        outline: 0;
        border: 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
    #Client .clientcontents .clientul .clientSlides{
        display: flex;
        height:100%;
    }
    #Client .clientcontents .clientul .clientSlides .clientSlidescontent{
        margin:20px 20px;
        padding:20px 20px;
        background-color: white;
        box-shadow: 0px 0px 10px gray;
    }
    #Client .clientcontents .clientul .clientSlides .clientSlidescontent .clientname{
        text-align: center;
    }
    .doublequotes{
        font-size: 1.5em;
    }
    #Careers{
        height: 100%;
        overflow-y: hidden;
        width: 100%;
        margin: 0;
        padding:0;
    }    
    #Careers .careerheading{
        height:20vh;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    #Careers .careerscontents {
        background-color: #626c66ff;
        margin: 0 15%;
        display: flex;
        height:80vh;
        justify-content: center;
        align-items: center;
    }
    #Careers .careerscontents form{
        width: 100%;
    }    
    #Careers .careerscontents form input,#Careers .careerscontents form select{
        width:100%;
        font-size: 1em;
        padding:10px;
    }       
    #Careers .careerscontents form div {
        padding-bottom: 2vh;
    }    
    #Careers .careerscontents form div label {
        padding-bottom: 1vh;
    }    
    #Careers .careerscontents form h2,
    #Careers .careerscontents form #submit {
        text-align: center;
    }    
    #Careers .careerscontents form #submit button {
        padding: 0 3%;
        font-size: 0.95em;
        background-color: transparent;
        color: white;
        font-weight: 300;
    }    
    #Careers .careerscontents form #submit button h4 {
        margin: 0;
    }   
    #Contact{
        height: 100%;
        overflow-y: hidden;
        width: 100%;
        margin: 0;
        padding:0;
    }    
    #Contact .contactheading{
        height:20vh;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    #Contact .contactcontents{
        margin:0 30%;
        height:30vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #Contact .contactcontents .contactitem{
        box-shadow: 0 0 30px rgb(201, 196, 196);
        color:black;
        width: 90%;
        display: grid;
        grid-template-columns: 20% 80%;
        height: 30%;
        justify-items: center;
        align-content: center;
        justify-self: center;
        align-self: center;
    }
    #Contact .contactcontents .contactitem .contacticon{
        align-self: center;
    }
    @media (max-width:424px) {
        .nav{
            height:30px;
            background-color: #242038ff;
        }
        .tabnav {
            display: none;
        }
        .topnav {
            display: table;
            width: 100%;
            background-color: white;
        }
        .topnav a {
            background-color:white;
            color:rgb(58, 55, 70);
            float: left;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
            background-color:white;
            color:rgb(58, 55, 70);
        }
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        #Home {
            height: 100vh;
        }
        #Contact {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 1em;
        }
        #Contact .contactcontents {
            background-color: #626c66ff;
            margin: 0;
            float: none;
            display: inline;
            padding: 10%;
        }
        #Contact .contactcontents form {
            padding-right: 10vw;
            padding-left: 10vw;
        }
        #Contact .contactcontents .contactothers {
            text-align: center;
            display: table;
            height: 200px;
            width: 100%;
        }
        #About {
            height: 100%;
        }
        #About .aboutcontents {
            width: 100vw;
        }
        #About .aboutcontents div {
            border-bottom: 3px solid #000;
            float: none;
            align-items: center;
            height: auto;
            width: 90%;
            padding-bottom: 10%;
        }
        #About .aboutcontents div:last-child {
            border-bottom: 0;
        }
        #About .aboutcontents div img {
            padding-top: 1px;
        }
        #About .aboutcontents div h5 {
            margin-bottom: 0px;
            margin-top: 5px;
            font-size: 1.5em;
            text-align: center;
            color: white;
        }
        #Key_Projects {
            padding: 0px;
            margin: 0;
        }
        #Key_Projects .keyprojectscontents {
            margin-top: 5vh;
            display: grid;
            grid-template-columns: 80vw;
        }
        #Key_Projects .keyprojectscontents .card {
            margin-bottom: 5vh;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            max-width: 300px;
            float: none;
            color: black;
            justify-self: center;
        }
        #Key_Projects .keyprojectscontents .card img {
            width: 70%;
            height: 248px;
        }
    }
    
    @media (min-width:425px) and (max-width:767px) {
        .tabnav {
            display: none;
        }
        .topnav {
            display: table;
            width: 100%;
            background-color: white;
        }
        .topnav a {
            float: left;
            display: block;
            background-color:white;
            color:rgb(58, 55, 70);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
            background-color:white;
            color:rgb(58, 55, 70);
        }
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        #Home {
            height: 100vh;
        }
        #Contact {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 1em;
        }
        #Contact .contactcontents {
            background-color: #626c66ff;
            margin: 0;
            float: none;
            display: inline;
            padding: 10%;
        }
        #Contact .contactcontents form {
            padding-right: 10vw;
            padding-left: 10vw;
        }
        #Contact .contactcontents form #submit {
            text-align: center;
            align-items: center;
            justify-self: center;
        }
        #Contact .contactcontents .contactothers {
            text-align: center;
            display: table;
            height: 200px;
            width: 100%;
        }
        #About {
            height: 100%;
        }
        #About .aboutcontents {
            width: 100vw;
        }
        #About .aboutcontents div {
            border-bottom: 3px solid #000;
            float: none;
            align-items: center;
            height: auto;
            width: 90%;
            padding-bottom: 10%;
        }
        #About .aboutcontents div:last-child {
            border-bottom: 0;
        }
        #About .aboutcontents div img {
            padding-top: 1px;
        }
        #About .aboutcontents div h5 {
            margin-bottom: 0px;
            margin-top: 5px;
            font-size: 1.5em;
            text-align: center;
            color: white;
        }
        #Key_Projects {
            padding: 0px;
            margin: 0;
        }
        #Key_Projects .keyprojectscontents {
            margin-top: 5vh;
            display: grid;
            grid-template-columns: 80vw;
        }
        #Key_Projects .keyprojectscontents .card {
            margin-bottom: 5vh;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            max-width: 300px;
            float: none;
            color: black;
            justify-self: center;
        }
        #Key_Projects .keyprojectscontents .card img {
            width: 70%;
            height: 248px;
        }
    }
    
    @media (min-width:768px) and (max-width:1023px) {
        .tabnav {
            display: none;
        }
        .topnav {
            display: table;
            width: 100%;
            background-color: white;
        }
        .topnav a {
            float: left;
            display: block;
            background-color:white;
            color:rgb(58, 55, 70);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
            background-color:white;
            color:rgb(58, 55, 70);
        }
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        #Home {
            height: 100vh;
        }
        #Contact {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 1em;
        }
        #Contact .contactcontents {
            background-color: #626c66ff;
            margin: 0;
            float: none;
            display: inline;
            padding: 10%;
        }
        #Contact .contactcontents form {
            padding-right: 10vw;
            padding-left: 10vw;
        }
        #Contact .contactcontents form #submit {
            text-align: center;
            align-items: center;
            justify-self: center;
        }
        #Contact .contactcontents .contactothers {
            text-align: center;
            display: table;
            height: 200px;
            width: 100%;
        }
        #About {
            height: 100%;
        }
        #About .aboutcontents {
            width: 100vw;
        }
        #About .aboutcontents div {
            border-bottom: 3px solid #000;
            float: none;
            align-items: center;
            height: auto;
            width: 90%;
            padding-bottom: 10%;
        }
        #About .aboutcontents div:last-child {
            border-bottom: 0;
        }
        #About .aboutcontents div img {
            padding-top: 1px;
        }
        #About .aboutcontents div h5 {
            margin-bottom: 0px;
            margin-top: 5px;
            font-size: 1.5em;
            text-align: center;
            color: white;
        }
        #Key_Projects {
            padding: 0px;
            margin: 0;
        }
        #Key_Projects .keyprojectscontents {
            margin-top: 5vh;
            display: grid;
            grid-template-columns: 80vw;
        }
        #Key_Projects .keyprojectscontents .card {
            margin-bottom: 5vh;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            max-width: 300px;
            float: none;
            color: black;
            justify-self: center;
        }
        #Key_Projects .keyprojectscontents .card img {
            width: 70%;
            height: 248px;
        }
    }
    
    @media (min-width:1024px) and (max-width:1439px) {
    }
    
    @media (min-width:1440px) {
    }
